@using NewsEngine.Models;

@helper GetLastNews(List<Message> messages, int numberMessages = 3) 
{
    <p>Последние новости</p>
    <ol>
        @{
            messages = messages.OrderByDescending(message => message.CurrentDate).Take(numberMessages).ToList<Message>();
            foreach(Message message in messages)
            {
                <li>@message.CurrentDate.ToString("dd.MM.yyyy HH:mm") @message.MessageTitle</li>
            }
        }
    </ol>
}
