@model NewsEngine.Models.Message

@{
    ViewBag.Title = "AddMessage";
}

<h2>AddMessage</h2>
@using (Html.BeginForm("AddMessage", "TestDB", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    ViewBag.IsEdit = false;
    ViewBag.ConfirmName = "Создать";
    @Html.Partial("_MessageParams");
}