@model NewsEngine.Models.Message

@{
    ViewBag.Title = "View";
}

<p>@Html.DisplayNameFor(message => message.MessageTitle): @Html.EditorFor(message => message.MessageTitle)</p>
<p>@Html.DisplayNameFor(message => message.Text): @Html.EditorFor(message => message.Text)</p>
<input type="submit" value=@ViewBag.ConfirmName />

